// Desktop
$grid-desktop-width: 6.8rem;
$grid-desktop-offset: 18rem;

// Tablet
$grid-tablet-width: 10rem;
$grid-tablet-offset: 2.4rem;

// Mobel
$grid-mobile-width: 5.4rem;
$grid-mobile-offset: 1.6rem;

// Global gutter
$grid-vertical: 2.4rem;